doctype html
html(lang="en")
  head
    title= ":event_name"
    meta(name="viewport", content="width=device-width,user-scalable=no,maximum-scale=1.0,initial-scale=1.0")
    script(type='text/javascript', src='javascripts/lib/jquery-1.11.2.min.js')
    script(type='text/javascript', src='javascripts/lib/velocity.min.js')
    script(type='text/javascript', src='javascripts/lib/hammer.min.js')
    script(type='text/javascript', src='javascripts/app.js')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
  body
    .loader.center-this
    .content-container
      .card-holder
        .card-image-holder
          img(alt="", src="img/card.png")
          img.envelope(alt="", src="img/envelope.png")
      .actions-container
        .center-this
          .event-info
            .subhead.helvetica-light.
              Please RSVP for
            .event-name.garamond-italic.
              Huzzah!
            .event-host.helvetica-light Hosted by: Stampy and Envelette
          .attending-actions
            .will-attend.action.helvetica-light Will Attend
            .will-not-attend.action.helvetica-light Will Not Attend
      

